<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patrol Overlay - Live</title>
  <link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon">
  <link href="http://fonts.cdnfonts.com/css/airbnb-cereal-app" rel="stylesheet">
  <link rel="stylesheet" href="resources/style.css">
</head>
<body>
  <div id="app">
    <div class="overlayStatus">
      <div v-if="error" style="position: absolute; font-size: 300px; color: red;">{{ error }}</div>
      <div v-if="userType === 'civ'" class="circle circleCiv"></div>
      <div v-if="userType === 'civ' && call" class="statusCode">Current Scene: <span class="available">{{ call }}</span></div>
      <div v-if="!call && server && userType === 'civ'" class="statusCode">Current Server: <span class="available">{{ server }}</span></div>
      <div v-if="call && server && userType === 'civ'" class="call">Current Server: <span class="available">{{ server }}</span></div>
      <div v-if="position" class="position">{{ position }}</div>
      <div v-if="name" class="name">{{ name }}</div>
      <div v-if="department" class="department">{{ department }}</div>
      <img v-if="currentType" class="currentType" :src='currentType'>
      <div v-if="status && userType !== 'civ'" v-html="returnStatus"></div>
      <div v-if="call && userType !== 'civ'" class="call">Current Call: <span v-if="status === '10-97'" class="enroute">{{ call }}</span><span v-if="status === '10-23'" class="onscene">{{ call }}</span></div>
      <div v-if="!call && server && userType !== 'civ'" class="callNoServer">Current Server: <span v-if="status === '10-99'" class="currentServer unavailable">{{ server }}</span><span v-if="status === '10-5'" class="currentServer tenFive">{{ server }}</span><span v-if="status === '10-6'" class="currentServer busy">{{ server }}</span><span v-if="status === '10-8-11'" class="currentServer available">{{ server }}</span><span v-if="status === '10-7'" class="currentServer unavailable">{{ server }}</span><span v-if="status === '10-8'" class="currentServer available">{{ server }}</span><span v-if="status === '10-97'" class="currentServer enroute">{{ server }}</span><span v-if="status === '10-23'" class="currentServer onscene">{{ server }}</span></div>
      <div v-if="call && server && userType !== 'civ'" class="callAndServer">Current Server: <span v-if="status === '10-99'" class="currentServer unavailable">{{ server }}</span><span v-if="status === '10-5'" class="currentServer tenFive">{{ server }}</span><span v-if="status === '10-6'" class="currentServer busy">{{ server }}</span><span v-if="status === '10-8-11'" class="currentServer available">{{ server }}</span><span v-if="status === '10-7'" class="currentServer unavailable">{{ server }}</span><span v-if="status === '10-8'" class="currentServer available">{{ server }}</span><span v-if="status === '10-97'" class="currentServer enroute">{{ server }}</span><span v-if="status === '10-23'" class="currentServer onscene">{{ server }}</span></div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script>
    window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    const recognition = new SpeechRecognition();
    recognition.interimResults = true;

    const msg = new SpeechSynthesisUtterance();

    const speechRecognitionOptions = [
      {
        catchString: 'show me 10-8 signal 11',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-8-11'
      },
      {
        catchString: 'show me 10-8 semen 11',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-8-11'
      },
      {
        catchString: 'show me 10-8 sing 11',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-8-11'
      },
      {
        catchString: 'show me tonight',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-8'
      },
      {
        catchString: 'show me tenant',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-8'
      },
      {
        catchString: 'show me 10-8',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-8'
      },
      {
        catchString: 'me tonight',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-8'
      },
      {
        catchString: 'show me 10/7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'meet n7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'jimmy 10-7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'timmy 10-7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'demi 10-7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'me 1070',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'show me 10 seven',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'salmi 10-7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'show me 10 7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'show me at 7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'especially 10:7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'show me 10-7',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-7'
      },
      {
        catchString: 'show me 10-6',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-6'
      },
      {
        catchString: 'meet centex',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-6'
      },
      {
        catchString: 'meet essex',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-6'
      },
      {
        catchString: 'show me 10 5',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-5'
      },
      {
        catchString: 'dispensary 10:5',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-5'
      },
      {
        catchString: '275',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-5'
      },
      {
        catchString: 'remington 5',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-5'
      },
      {
        catchString: 'show me 1097',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-97'
      },
      {
        catchString: 'mean route',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-97'
      },
      {
        catchString: 'show me around',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-97'
      },
      {
        catchString: 'simeon route',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-97'
      },
      {
        catchString: 'show me in route',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-97'
      },
      {
        catchString: 'show me 1023',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      },
      {
        catchString: 'timmy 1023',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      },
      {
        catchString: 'especially 10:23',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      },
      {
        catchString: 'me on scene',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      },
      {
        catchString: 'show me dancing',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      },
      {
        catchString: 'romancing',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      },
      {
        catchString: 'manson',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      },
      {
        catchString: 'special man scene',
        ioEvent: 'voiceRecognition_dispatch',
        ioType: 'statusChange',
        ioData: '10-23'
      }
    ];
    const speechRecognitionTriggers = ['7 echo 15', '700-15 dispatch', '715 dispatch', '7 aco 15 dispatch', '7 aco 15 discussion', '7 - 15 dispatch', '78015 dispatch', 'sulekha', 'seneca 15th', 'sirocco 15', '700-15', '7/15', '7 acre 15 dispatch'];

    const socket = io('https://api.dawsoncan.dev', {
      transports: ['websocket']
    });

    const app = Vue.createApp({
      data() {
        return {
          status: false,
          call: false,
          currentType: false,
          position: false,
          name: false,
          department: false,
          server: false,
          error: false,
          userType: false,
        }
      },
      created() {
        window.speechSynthesis.onvoiceschanged = function() {
          window.speechSynthesis.getVoices();
        };

        socket.on('connect', () => {
          const urlParams = new URLSearchParams(window.location.search);
          if (!urlParams.has('id')) return this.error = 'Unauthorized personnel!';
          socket.emit('requestData', 'bfdf3285-7546-47c2-9696-8a24adfe4252', (res) => {
            console.log(res);
            if (res === 'Nope!') return this.error = 'Unauthorized personnel!';
            const resKeys = Object.keys(res);
            resKeys.forEach(key => {
              switch (key) {
                case 'call':
                  if (res[key] === 'false' || !res[key]) return this.call = false;
                  this.call = res[key];
                  break;
                case 'status':
                  this.status = res[key];
                  break;
                case 'currentType':
                  this.currentType = res[key];
                  break;
                case 'position':
                  this.position = res[key];
                  break;
                case 'name':
                  this.name = res[key];
                  break;
                case 'department':
                  this.department = res[key];
                  break;
                case 'currentServer':
                  this.server = res[key];
                  break;
                case 'userType':
                  this.userType = res[key];
                  break;
              }
            });
          });
        });

        socket.on('emit data', (data) => {
          console.log(data);
          const urlParams = new URLSearchParams(window.location.search);
          if (!urlParams.has('id')) return this.error = 'Unauthorized personnel!';
          if (urlParams.get('id') !== data.userId) return;
          const dataKeys = Object.keys(data);
          dataKeys.forEach(key => {
            switch (key) {
              case 'call':
                if (data[key] === 'false' || !data[key]) return this.call = false;
                this.call = data[key];
                break;
              case 'status':
                this.status = data[key];
                break;
              case 'currentType':
                this.currentType = data[key];
                break;
              case 'position':
                this.position = data[key];
                break;
              case 'name':
                this.name = data[key];
                break;
              case 'department':
                this.department = data[key];
                break;
              case 'currentServer':
                this.server = data[key];
                break;
              case 'userType':
                this.userType = res[key];
                break;
            }
          });
        });

        socket.on('wear seatbelt', (data) => {
          let seatBeltAudio = new Audio('wear_seatbelt.mp3');
          seatBeltAudio.volume = 0.2;
          seatBeltAudio.play();
          console.log('tisosdfa');
        });

        socket.on('voiceSynthesis_dispatch', (type, data) => {
          const msg = new SpeechSynthesisUtterance();
          msg.volume = 0.1;
          msg.voice = window.speechSynthesis.getVoices()[3]
          console.log(window.speechSynthesis.getVoices());
          console.log(msg);
          switch (type) {
            case 'statusChange':
              switch (data) {
                case '10-8':
                  msg.text = 'ten four seven echo fifteen showing you ten eight'
                  window.speechSynthesis.speak(msg);
                  break;
                case '10-7':
                  msg.text = 'ten four seven echo fifteen showing you ten seven'
                  window.speechSynthesis.speak(msg);
                  break;
                case '10-6':
                  msg.text = 'ten four seven echo fifteen showing you ten six'
                  window.speechSynthesis.speak(msg);
                  break;
                case '10-5':
                  msg.text = 'ten four seven echo fifteen showing you ten five'
                  window.speechSynthesis.speak(msg);
                  break;
                case '10-23':
                  msg.text = 'ten four seven echo fifteen showing you ten twenty three'
                  window.speechSynthesis.speak(msg);
                  break;
                case '10-97':
                  msg.text = 'ten four seven echo fifteen showing you ten ninety seven'
                  window.speechSynthesis.speak(msg);
                  break;
                case '10-8-11':
                  msg.text = 'ten four seven echo fifteen showing you ten eight signal 11'
                  window.speechSynthesis.speak(msg);
                  break;
              }
              break;
          }
        });

        recognition.addEventListener('result', e => {
          if (e.results[0].isFinal) {
            console.log(e.results[0][0].transcript.toLowerCase());
            let triggerFound = false,
              optionFound = false;
            let finalTranscript = e.results[0][0].transcript.toLowerCase();
            speechRecognitionTriggers.forEach(trigger => {
              if (!triggerFound && finalTranscript.includes(trigger)){
                triggerFound = true;
                console.log('Trigger found!');
                speechRecognitionOptions.forEach(opt => {
                  if (!optionFound && finalTranscript.includes(opt.catchString)) {
                    optionFound = true;
                    console.log('Option found!');
                    socket.emit(opt.ioEvent, opt.ioType, opt.ioData, (res) => {
                      console.log(res);
                    });
                  }
                });
              }
            });
          }
        });

        recognition.addEventListener('end', recognition.start);

        recognition.start();
      },
      computed: {
        returnStatus() {
          switch (this.status) {
            case '10-8':
              return `<div class="statusCode">Current Status: <span class="available">${this.status}</span></div><div v-if="currentType" class="circle statusCircleAvailable"></div>`;
              break;
            case '10-8-11':
              return `<div class="statusCode">Current Status: <span class="available">${this.status}</span></div><div v-if="currentType" class="circle statusCircleAvailable"></div>`;
              break;
            case '10-7':
              return `<div class="statusCode">Current Status: <span class="unavailable">10-7</span></div><div v-if="currentType" class="circle statusCircleUnavailable"></div>`;
              break;
            case '10-6':
              return `<div class="statusCode">Current Status: <span class="busy">10-6</span></div><div v-if="currentType" class="circle statusCircleBusy"></div>`;
              break;
            case '10-5':
              return `<div class="statusCode">Current Status: <span class="tenFive">10-5</span></div><div v-if="currentType" class="circle statusCircleOnscene"></div>`;
              break;
            case '10-23':
              return `<div class="statusCode">Current Status: <span class="onscene">10-23</span></div><div v-if="currentType" class="circle statusCircleOnscene"></div>`;
              break;
            case '10-97':
              return `<div class="statusCode">Current Status: <span class="enroute">10-97</span></div><div v-if="currentType" class="circle statusCircleEnroute"></div>`;
              break;
            case '10-99':
              return `<div class="statusCode">Current Status: <span class="unavailable">10-99</span></div><div v-if="currentType" class="circle statusCircleUnavailable"></div>`;
              break;
          }
        }
      }
    });

    app.mount('#app');
  </script>
</body>
</html>