@import url('http://fonts.cdnfonts.com/css/airbnb-cereal-app');
* {
  font-family: 'Airbnb Cereal App', sans-serif;
}

.overlayStatus {
  font-size: 30px;
  color: white;
  filter: drop-shadow(3px 5px 8px rgb(0, 0, 0));
}

.position {
  position: absolute;
  top: 35px;
  right: 184px;
}

.name {
  position: absolute;
  top: 70px;
  right: 184px;
}

.department {
  position: absolute;
  top: 105px;
  right: 184px;
}

.currentType {
  position: absolute;
  top: 29px;
  right: 30.5px;
  border-radius: 50%;
  width: 126px;
  height: 126px;
}

.call {
  position: absolute;
  top: 215px;
  right: 21px;
}

.callNoServer {
  position: absolute;
  top: 215px;
  right: 21px;
}

.callAndServer {
  position: absolute;
  top: 250px;
  right: 21px;
}

.statusCode {
  position: absolute;
  top: 180px;
  right: 21px;
}

.circle {
  height: 137px;
  width: 137px;
}

.circleCiv {
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}


.statusCircleAvailable {
  border: 4px solid greenyellow;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}

.statusCircleUnavailable {
  border: 4px solid red;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}

.statusCircleOnscene {
  border: 4px solid lightskyblue;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}

.statusCircleOnscene {
  border: 4px solid lightskyblue;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}

.statusCircleTenFive {
  border: 4px solid pink;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}

.statusCircleEnroute {
  border: 4px solid yellow;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}

.statusCircleBusy {
  border: 4px solid orange;
  border-radius: 50%;
  position: absolute;
  top: 20.3px;
  right: 21px;
}

.enroute {
  color: yellow;
}

.onscene {
  color: lightskyblue;
}

.tenFive {
  color: pink;
}

.busy {
  color: orange;
}

.unavailable {
  color: red;
}

.available {
  color: greenyellow;
}

@media only screen and (max-width: 1920px) {
  .overlayStatus {
    font-size: 25px;
  }

  .circle {
    width: 120px;
    height: 120px;
  }

  .currentType {
    width: 109px;
    height: 109px;
  }

  .position {
    right: 172px;
    top: 40px;
  }

  .name {
    right: 172px;
  }

  .department {
    right: 172px;
    top: 100px;
  }

  .statusCode {
    top: 163px;
  }

  .call {
    top: 195px;
  }

  .callNoServer {
    top: 198px;
  }

  .callAndServer {
    top: 225px;
  }
}

@media only screen and (max-width: 1280px) {
  .overlayStatus {
    font-size: 15px;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .currentType {
    width: 89px;
    height: 89px;
  }

  .position {
    right: 147px;
    top: 43px;
  }

  .name {
    right: 147px;
    top: 65px;
  }

  .department {
    right: 147px;
    top: 87px;
  }

  .statusCode {
    top: 145px;
  }

  .call {
    top: 168px;
  }

  .callNoServer {
    top: 167px;
  }

  .callAndServer {
    top: 190px;
  }
}